<h1>Start a new calculator</h1>

<p>Please enter a unique username</p>
<.form let={f} for={ :user } >
  <%= text_input f, :username, placeholder: "Enter a username" %>
  <%= submit "Start" %>
</.form>